<div id="user-id" data-user-id="<%= current_user.id  %>"></div>
<div id="chatroom-id" data-chatroom-id="<%= @chatroom.try(:id) %>"></div>
<% if @chatroom.present? %>
<div class="ui basic mini modal edit">
	<div class="ui icon header">
		<i class="edit outline icon"></i>
		Change chatroom name
	</div>
	<div class="content">
		<%= form_with model: @chatroom, url: chatroom_path(@chatroom), class: "ui form", local: true do |f| %>
			<%= f.text_field :name, placeholder: "name" %>
			<div class="actions">
				<%= f.button class: "ui green ok inverted button testt" do %>
					<i class="checkmark icon"></i>
					create 
				<% end %>
				<div class="ui red basic cancel inverted button">
					<i class="remove icon"></i>
					cancel
				</div>
			</div>
		<% end %>
	</div>
</div>
<% end %>
<div class="ui basic mini modal create">
	<div class="ui icon header">
		<i class="comments outline icon"></i>
		Create chatroom
	</div>
	<div class="content">
		<%= form_with scope: :chatroom, url: chatrooms_path, class: "ui form", local: true do |f| %>
			<%= f.text_field :name, value: "", placeholder: "name" %>
			<div class="actions">
				<%= f.button class: "ui green ok inverted button" do %>
					<i class="checkmark icon"></i>
					create 
				<% end %>
				<div class="ui red basic cancel inverted button">
					<i class="remove icon"></i>
					cancel
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="ui column grid">
	<% if @chatroom.present? %>
		<div class="ui card column" id="feed-box">
			<div id="messages">
				<%= render @chatroom.messages %>
			</div>
			<div class="extra content">
				<%= form_with scope: :message, url: [@chatroom, Message.new], class: "ui fluid icon input", remote: true do |f| %>
					<%= f.text_field :content, placeholder: "message"  %>
					<%= f.button '<i class="angle up icon"></i>'.html_safe, id:"submit-btn" %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>